In [1]:
# a.	Import NumPy and Pandas.
# b.	Generate three lists of four random integers between 1 and 20 using NumPy.
# c.	Define a list named labels with values ['a', 'b', 'c'].
# d.	Define a list named cols with values ['W', 'X', 'Y', 'Z'].
# e.	Combine the three lists into a list of lists, dataArray.
# f.	Create a DataFrame dataFrame using dataArray as data, labels as index, and cols as columns.
# g.	Display the DataFrame.

# Imports
import pandas as pd
import numpy as np

# Array creation
list1 = np.random.randint(1, 21, 4)
list2 = np.random.randint(1, 21, 4)
list3 = np.random.randint(1, 21, 4)

labels = ['a', 'b', 'c']
cols = ['W', 'X', 'Y', 'Z']

# List of lists using NumPy array
dataArray = np.array([list1, list2, list3])

# Create dataFrame
dataFrame = pd.DataFrame(data=dataArray, index=labels, columns=cols)

# Display dataFrame
dataFrame

    W   X   Y   Z
a   7  19   1   7
b  13  14  16  20
c   8  17  16  16

In [2]:
# a.	Access the 'X' column of the DataFrame, which produces a Pandas Series.
# b.	Use double brackets with ['X', 'Y'] to select these columns, producing a DataFrame.
# c.	Access the 'Z' column of the DataFrame using dot notation, which produces a Pandas Series.
# d.	Create a new column in the DataFrame, sum the 'X' and 'Y' columns, and name the new column 'Sum(X+Y)'

# Access "X" column
dataFrame['X']

a    19
b    14
c    17
Name: X, dtype: int32

In [4]:
# Access columns X and Y
dataFrame[['X', 'Y']]

    X   Y
a  19   1
b  14  16
c  17  16

In [3]:
# Access Z column using dot notation
dataFrame.Z

a     7
b    20
c    16
Name: Z, dtype: int32

In [5]:
# Create new column adding X and Y columns
# Access Z column using dot notation
dataFrame.insert(4, 'Sum(X+Y)', dataFrame.X + dataFrame.Y, True)
dataFrame

    W   X   Y   Z  Sum(X+Y)
a   7  19   1   7        20
b  13  14  16  20        30
c   8  17  16  16        33

In [6]:
# a.	Use the remove function (method in the data frame) to remove the sum column. To make changes permanent, use inplace=True. Set axis=1 to specify column operations, such as removing the 'Sum(X+Y)' column.
# b.	Display the data frame after removing the sum column.

dataFrame.drop('Sum(X+Y)', axis=1, inplace=True)
dataFrame

    W   X   Y   Z
a   7  19   1   7
b  13  14  16  20
c   8  17  16  16

In [7]:
# a.	Create a new DataFrame newRow with a single row [1, 2, 3, 4] and columns ['W', 'X', 'Y', 'Z'], and index ['d'].
# b.	Use the concat function in Pandas to concatenate newRow to the existing dataFrame using pd.concat([dataFrame, newRow]).
# c.	Display the updated DataFrame.

# Create and display new DataFrame
newRow = pd.DataFrame(data={1: 'W', 2: 'X', 3: 'Y', 4: 'Z'}, index=['d'])
newRow

   1  2  3  4
d  W  X  Y  Z

In [8]:
# Concatenate the two DataFrames
dataFrame = pd.concat([dataFrame, newRow])
dataFrame

      W     X     Y     Z    1    2    3    4
a   7.0  19.0   1.0   7.0  NaN  NaN  NaN  NaN
b  13.0  14.0  16.0  20.0  NaN  NaN  NaN  NaN
c   8.0  17.0  16.0  16.0  NaN  NaN  NaN  NaN
d   NaN   NaN   NaN   NaN    W    X    Y    Z