In [11]:
# 28.	Import modules as necessary
import seaborn as sns
from sklearn.model_selection import train_test_split

# 29.	Collect the data (use the titanic dataset from seaborn)
titanic_ds = sns.load_dataset('titanic')

# 30.	Prepare the data by:
# a.	Dropping non deterministic columns (embark_town, embarked, deck, class and alive.)
titanic_ds.drop(labels=['embark_town', 'embarked', 'deck', 'class', 'alive'], axis=1, inplace=True)


# b.	Replacing non-numeric values for sex and who columns.
titanic_ds['sex'] = titanic_ds['sex'].replace({'male': 0, 'female': 1}, inplace=True)
titanic_ds['who'] = titanic_ds['who'].replace({'man': 0, 'woman': 1, 'child': 2}, inplace=True)

# c.	Removing all rows with non-values (dropna method)
titanic_ds.dropna()

# 31.	Get the top 20 rows in the dataset and paste them in the following box
titanic_ds.head(20)

C:\Users\aleji\AppData\Local\Temp\ipykernel_12668\1950097473.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_ds['sex'] = titanic_ds['sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\aleji\AppData\Local\Temp\ipykernel_12668\1950097473.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic_ds['sex'] = titanic_ds['sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\aleji\AppData\Local\Temp\ipykernel_12668\1950097473.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_ds['who'] = titanic_ds['who'].replace({'man': 0, 'woman': 1, 'child': 2}, inplace=True)
C:\Users\aleji\AppData\Local\Temp\ipykernel_12668\1950097473.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic_ds['who'] = titanic_ds['who'].replace({'man': 0, 'woman': 1, 'child': 2}, inplace=True)

,survived,pclass,sex,age,sibsp,parch,fare,who,adult_male,alone
0,0,3,None,22.0,1,0,7.2500,None,True,False
1,1,1,None,38.0,1,0,71.2833,None,False,False
2,1,3,None,26.0,0,0,7.9250,None,False,True
3,1,1,None,35.0,1,0,53.1000,None,False,False
4,0,3,None,35.0,0,0,8.0500,None,True,True
5,0,3,None,NaN,0,0,8.4583,None,True,True
6,0,1,None,54.0,0,0,51.8625,None,True,True
7,0,3,None,2.0,3,1,21.0750,None,False,False
8,1,3,None,27.0,0,2,11.1333,None,False,False
9,1,2,None,14.0,1,0,30.0708,None,False,False
10,1,3,None,4.0,1,1,16.7000,None,False,False
11,1,1,None,58.0,0,0,26.5500,None,False,True
12,0,3,None,20.0,0,0,8.0500,None,True,True
13,0,3,None,39.0,1,5,31.2750,None,True,False
14,0,3,None,14.0,0,0,7.8542,None,False,True
15,1,2,None,55.0,0,0,16.0000,None,False,True
16,0,3,None,2.0,4,1,29.1250,None,False,False
17,1,2,None,NaN,0,0,13.0000,None,True,True
18,0,3,None,31.0,1,0,18.0000,None,False,False
19,1,3,None,NaN,0,0,7.2250,None,False,True

In [ ]:
# 32.	Choose a model for the regression
#     33.	Train the model (use a value of max_iter=1000 for the LogisticRegression class.)
#     34.	Evaluate the model's accuracy by scoring its performance on the test set, using the score method. What is the value returned? How can this score be interpreted?